*{
    box-sizing: border-box;
    background-image: ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGNEAQ9W3yqP-viYh-TK-wHzBFco0AsBeHehh3yUym&s");
}

body{
    margin: 0;
}

.container{
    margin: 1rem;
    text-align: center;
}

.nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(165, 153, 244);
    color:rgb(232, 229, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    width: 100%;
    height: 1.6cm;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav a{
color: rgb(246, 240, 53);
text-decoration: none;
height: 100%;
display: flex;
align-items: center;
padding: .25rem;
}


.nav li:active {
    background-color: rgba(0, 26, 255, 0.765);

}

.nav li:hover {
    background-color: dodgerblue;
}

h1 {
    color: gold;
    font-family: fantasy;
}
h2 {
    color: gold;
    font-style: italic;
    font-family: fantasy;
}
